nav {
    border-top: 3px solid royalblue;
    border-bottom: 3px solid royalblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
